body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    line-height: 30px;
}

header{
    background-color: rgb(204, 84, 84);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1{
    color: white;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid #483a94;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-height: 476px;
    width: 800px;
}

h2{
    font-size: 30px;
    color: rgb(204, 84, 84);
}

a{
    color: rgb(14, 95, 95);
}

a:hover{
    color:aliceblue;
    background-color: #483a94;
}

footer{
    background-color: rgb(204, 84, 84);
    text-align: center;
    color: aliceblue;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: aliceblue;
}

footer a:hover{

    opacity: 0.5;
    background-color: transparent;

}